:root {
  --border-color: #f6f6f8;
}

.table-header {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  direction: rtl;
}

table thead {
  background-color: var(--border-color);
}

table tbody {
  overflow: hidden;
  border: 3px solid var(--border-color);
}

table thead tr th {
  font-size: 14px;
  letter-spacing: 0.35px;
  vertical-align: top;
  padding: 1% 10%;
  color: rgb(137, 166, 187);
  text-align: center;
}

table tbody tr {
  border-bottom: 2px solid var(--border-color);
}

table tbody tr td {
  font-size: 13px;
  letter-spacing: 0.35px;
  padding: 8px;
  text-align: center;
  /* padding: 10px 40px; */
  padding: 1.5% 2%;
}

/* table tbody td:last-child,
table thead th:last-child {
} */

@media screen and (max-width: 540px) {
  /* Change the table behavior */
}
